<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" type="text/css" href="../styles/css/hamburger-icons.css">
    <link rel="stylesheet" type="text/css" href="../styles/css/main.css">

    <script src="../js/libraries/jquery-3.1.1.min.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/dzap.js"></script>
</head>
  </head>

  <body>
    <header class="group">
      <div class="inner">
        <div class="logoWrap">
          <img src="../images/leaselabs_logo_fullstack_rgb.png"/>
        </div>

        <ul class="mainNav"> <!-- this hides on smaller screens -->
          <li>
            <a href="#">home</a>
          </li>
          <li>
            <a href="#">our work</a>
          </li>
          <li>
            <a href="#">about us</a>
          </li>
          <li>
            <a href="#">contact us</a>
          </li>
          <li class="last">
            <a href="#" class="active">specials</a>
          </li>
        </ul>

        <div class="mobileNavWrap"> <!-- only displays on smaller screens -->
          <button class="c-hamburger c-hamburger--htx">
              <span>toggle menu</span>
          </button>

          <div class="mobileNav">
              <a href="#">home</a>
              <a href="#">our work</a>
              <a href="#">about us</a>
              <a href="#">contact us</a>
              <a href="#">specials</a>
          </div>
        </div>
      </div>
    </header>
    <div class="pageWrap">

      <!-- START page content -->
      <div class="pageContent group">
        <aside>
          <div class="listHeader">
            subnav
            <div class="downArrow"></div>
          </div>
          <ul>
            <li><a href="#">link 1</a></li>
            <li><a href="#">link 2</a></li>
            <li><a href="#">link 3</a></li>
          </ul>

          <div class="listHeader">
            related links
            <div class="downArrow"></div>
          </div>
          <ul>
            <li><a href="#">link 1</a></li>
            <li><a href="#">link 2</a></li>
            <li><a href="#">link 3</a></li>
          </ul>
        </aside>

        <section>
          <div class="textualContent">
            <h1>heading 1</h1>
            <p class="subHeader">heading 2</p>
            <p class="infoText">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ornare
              risus eu odio ullamcorper venenatis. Morbi egestas dui non urna
              imperdiet semper. Fusce ex lacus, iaculis a dolor et, sollicitudin
              lacinia velit. Sed sed condimentum lectus. Vestibulum elementum at
              mauris non dapibus. Donec luctus accumsan metus eu vehicula. Cras
              sit amet semper quam.
            </p>

            <p class="infoText">
              Nulla eget nisi ipsum. Nulla eleifend mollis ipsum sit amet
              hendrerit. Nullam finibus tincidunt semper. Pellentesque habitant
              morbi tristique senectus et netus et malesuada fames ac turpis
              egestas. Integer placerat turpis lectus, non malesuada lacus ultrices
              in. Suspendisse ullamcorper nec mi sit amet accumsan. Proin posuere
              lorem vel elit blandit sodales.
            </p>

            <p class="infoText">
              Pellentesque habitant morbi tristique senectus et netus et malesuada
              fames ac turpis egestas. Pellentesque bibendum dapibus purus. Orci
              varius natoque penatibus et magnis dis parturient montes, nascetur
              ridiculus mus. Duis efficitur rutrum sapien, eget iaculis metus
              malesuada in. Nam vel lacus mi. Maecenas accumsan libero et lorem
              luctus vehicula. Nulla laoreet finibus dolor ut placerat. Donec
              augue erat, iaculis eu tristique eu, commodo vel turpis. Aliquam
              erat volutpat. Mauris rhoncus porta consequat.
            </p>
          </div>
          <div class="imagesWrap group"></div><!-- dynamically loaded images -->
        </section>
      </div>
      <!-- END page content -->
    </div>
  </body>
</html>
